$white-100: #FFFFFF;

$state-900: #1F314F;
$state-500: #68778D;
$state-300: #D5E1EF;



// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-667:                            667px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1680:                           1680px;
$vp-1920:                           1920px;


// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;